:root {
  --bg-blue-principal: #003C71;
  --bg-white-secondary: #f5f5f5;
  --bg-yellow-terciary: #DBAA16;
  --secondary-color: #2ecc71;
  --background-color: #f5f5f5;
  --text-color: #333;
  --text-white-subtitle: #f5f5f5;
}
