MONGO_URI=mongodb://localhost:27017
MONGO_DB=refuerzo_escolar
JWT=cambia-esto-por-un-secreto-largo-y-aleatorio
PORT=3005
API_GLOBAL_PREFIX=api
SWAGGER_DOC_PATH=docs
NEXT_PUBLIC_API_URLV2=http://localhost:3005

# --- AWS SES (necesarias solo para enviar correos) ---------------------------

AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# --- Google reCAPTCHA v3 (necesaria solo para recuperar contraseña), ocupa correos,arranca sin necesidad de eso.
RECAPTCHA_SECRET_KEY=
