---
import Layout from '../layouts/Layout.astro';
import LoginCard from '../components/Login/LoginCard.astro';
import login_styles from "../css/login.module.css";

---

<Layout title="Welcome to Astro.">
	<main class={login_styles.main_section}>
		<LoginCard />
		
	</main>
</Layout>
