---
import LoginForm from "../components/Login/LoginForm";
import login_styles from "../css/login.module.css";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Refuerzo Escolar - Login">
  <main class={login_styles.main_section}>
    <section class={login_styles.section}>
      <div class={login_styles.logo_main}>
        <img src="/Logo.svg" alt="Logo Refuerzo Escolar" />
        <h1>Refuerzo Academico Ing. William Mendoza</h1>
      </div>

      <h2>Iniciar Sesión</h2>

      <LoginForm client:load />
    </section>

    <div class={login_styles.image_section}>
      <img
        src="https://media.vaticannews.va/media/content/dam-archive/vaticannews/multimedia/2020/12/04/WhatsApp-Image-2020-12-02-at-08.03.09aem.jpg/_jcr_content/renditions/cq5dam.thumbnail.cropped.750.422.jpeg"
        alt="Background Image"
      />
    </div>
  </main>
</Layout>
