---
import SidebarLayout from "../../layouts/DashboardLayout.astro" // Ajusta la ruta según sea necesario
---

<SidebarLayout>
  <h1>Dashboard</h1>
  <p>Contenido del dashboard aquí.</p>
</SidebarLayout>
